/* Javadoc style sheet */

body { font-family: Luxi sans, Arial, Helvetica, sans-serif;  background-color: #FFFFFF }
a:link, a:visited {
 color: #007c00;
 }

a:active, a:hover, #leftcol a:active, #leftcol a:hover {
 color: #f30 !important;
 }

a:link.selfref, a:visited.selfref {
 color: #555 !important;
 }

.a td {
 background: #ddd;
 color: #000;
 }

.table {
 border: 0;
}

/* Table colors */
.TableHeadingColor     { font-family: Luxi Sans, Helvetica, sans-serif; background: #afebab; color:#005000 }
.TableSubHeadingColor  { background: #cafeba; color:#007000 }
.TableRowColor         { background: #f5f5f5 }
.FrameTitleFont   { font-size: normal; font-family: normal; color:#000000 }
.FrameHeadingFont { font-size: normal; font-family: normal; color:#000000 }
.FrameItemFont  { font-size: 10pt; font-family: Helvetica, Arial, sans-serif; line-height: 12pt } */
.NavBarCell1 { background-color: #bbb; }
.NavBarCell1Rev { background-color:#a0a0a0; }
.NavBarFont1    { font-family: Arial, Helvetica, sans-serif; color:#000000;}
.NavBarFont1Rev { font-family: Arial, Helvetica, sans-serif; color:#FFFFFF;}
.NavBarCell2    { font-family: Arial, Helvetica, sans-serif; background-color:#FFFFFF;}
.NavBarCell3    { font-family: Arial, Helvetica, sans-serif; background-color:#FFFFFF;}
